.calendar {
    width: 300px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 5px 50px rgba(#000, 0.2);
    border-radius: 8px;
    overflow: hidden;
    margin: 0 auto;

    h4{
        text-align: center;
        margin: 1rem 0px 0px;
        font-weight: 500;
        text-shadow: 0 1px 1px rgba(#000, 0.2);
    }
}


.calendar-date {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-gap: 10px;
    box-sizing: border-box;
}

.calendar-day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    font-weight: 600;
    color: #262626;

    &:nth-child(7) {
        color: #ff685d;
    }
}

.calendar-number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    color: #262626;

    &:nth-child(7n) {
        color: #ff685d;
        font-weight: 700;
    }

    &--current,
    &:hover {
        background-color: #009688;
        color: #fff !important;
        font-weight: 700;
        cursor: pointer;
    }
}