.dairy{
    background: $white;
    text-shadow: 0 1px 1px rgba(#000, 0.2);
    box-shadow: 0 5px 50px rgba(#000, 0.2);
    
    .diary-hour{
        padding-top: 1rem;
    }
    .active{
        background: #d7ffdc;
    }
    .diary-hour-event{
        width: 100%;
        background: #d6dee4;
        border-radius: 3px;
    }
    
    h2 {
        margin: 1rem 0 0  0;
    }

    h3 {
        margin: 0 0 1rem 0;
        font-weight: 500;
    }
}
 