body { 
    font-family: 'Poppins', sans-serif;
}

.navbar-default {
    background-color: #3f51b5;
    border-color: #2196f3;
    .navbar-nav > li > a {
        color: $white;
        &:hover, &:focus{
            background: $brand-info;
        }
    }

    .navbar-brand {
        color: $white;
        &:hover, &:focus {
            color: #fff;
            background: $brand-info;
        }
    } 
}

.card{
    border-radius: 8px;
    margin: 2rem 1rem 1rem;
    padding-top: 2rem;
    background: $white;
    text-shadow: 0 1px 1px rgba(#000, 0.2);
    box-shadow: 0 5px 50px rgba(#000, 0.2);
}
