.m-0{
    margin: 0px !important;
}
.m-1{
    margin: 1rem !important;
}
.mt-1{
    margin-top: 1rem !important;
}
.mt-0{
    margin-top: 0px !important;
}

.mb-0{
    margin-bottom: 0px !important;
}

.p-0{
    padding: 0px !important;
}

.pt-0{
    padding-top: 0px !important;
}

.pb-0{
    padding-bottom: 0px !important;
}

.pl-1{
    padding-left: 1px !important;
}

.wrapper {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0px;
    box-sizing: border-box;
}
.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 20px;
    color: #000;
    text-align: left;
    box-sizing: border-box;
}
.box {
    height: 1800px;
}